body{
    font-size: 12px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color:#fff;
    color: black;
    line-height: 20px;
}

.container{
    width: 60%;
    margin: 0 auto;
}

header, section{
    box-shadow: 0 0 10px 2px black;
    font-weight: bolder;
    padding: 4%;
    margin-top: 20px;
    margin-bottom: 20px;
}


header>ol>li{
    padding: 1%; 
}

form{
    margin-top: 20px;
}

.full-question{
    margin-bottom: 20px;
}


.a-question{
    margin-bottom: 20px;    
    font-weight: bold;
    font-size: 1.5em;
}

.choices{
    width: 70%;
    box-shadow: 0 0 5px black;
    margin: 10px;
    padding: 10px;
}

.choices:hover, .choices:checked{
    background-color: greenyellow;
}

.section-one input {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}
